<h1>Listing djs</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @djs.each do |dj| %>
  <tr>
    <td><%= dj.code %></td>
    <td><%= dj.name %></td>
    <td><%= link_to 'Show', dj %></td>
    <td><%= link_to 'Edit', edit_dj_path(dj) %></td>
    <td><%= link_to 'Destroy', dj, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dj', new_dj_path %>
